#main-container {
    min-height: 100vh;
}

.changeAmount {
    width: 30px;
    background-color: transparent;
    color: orange;
    border: 3px solid orange;
}

.wrap{
    margin: 0 auto;
    max-width: 600px;
}

.tableCart{
    width: 100%;
}